%p#notice= notice

%p
  %b Start time:
  = @tracking_entry.start_time
%p
  %b End time:
  = @tracking_entry.end_time
%p
  %b Deleted at:
  = @tracking_entry.deleted_at
%p
  %b Service:
  = @tracking_entry.service

= link_to 'Edit', edit_tracking_entry_path(@tracking_entry)
\|
= link_to 'Back', tracking_entries_path
