<%= simple_form_for(@quote_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3 style='padding-top:10px; border-bottom: solid gray 1px;'>RFQ Information</h3>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :telephone %>
    <%= f.input :note, placeholder: "Description of project.", :input_html => { :rows => 5 } %>
    <% if user_signed_in?%>
    <%= f.input :status, collection: ["New", "Viewed", "Submitted", "Won", "Lost"] %>
    <%= f.association :user, label_method: :email %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Request", class: "btn btn-special btn-color" %>
  </div>
</br>
<% end %>
