<%= simple_form_for(@quote_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3 style='padding-top:10px; border-bottom: solid gray 1px;'>RFQ Information</h3>
    <p>
      <em>If you have any issues submitting this form please email <a href="mailto:paul@columbuspowdercoat.com">paul@columbuspowdercoat.com</a> or call us at (614) 300-5025.</em>
    </p>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :telephone %>
        <%= f.input :note, placeholder: "Description of project.", :input_html => { :rows => 5 } %>
        <p>
          <%= f.fields_for :post_attachments do |p| %>
            <div class="field">
              <%= p.label :attachments %><br>
              <%= p.file_field :attachment, :multiple => true, name: "quote_request_attachments[attachment][]" %>
            </div>
          <% end %>
        </p>
        <% if user_signed_in?%>
          <%= f.input :status, collection: ["New", "Viewed", "Submitted", "Won", "Lost"] %>
          <%= f.association :user, label_method: :email %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Request", class: "btn btn-success" %>
  </div>
</br>
<% end %>
