<%= simple_form_for(@quote_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3 style='padding-top:10px; border-bottom: solid gray 1px;'>General Information</h3>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :job_title %>
    <%= f.input :company_name %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :state, collection: us_states %>
    <%= f.input :zip %>
    <%= f.input :email %>
    <%= f.input :telephone %>
    <%= f.input :fax %>
    <h3 style='padding-top:10px; border-bottom: solid gray 1px;'>Product Information</h3>
    <%= f.input :part_number %>
    <%= f.input :part_description %>
    <%= f.input :powder_color %>
    <%= f.input :powder_product_code %>
    <%= f.input :powder_product_manufacturer %>
    <%= f.input :part_size %>
    <%= f.input :substrate %>
    <%= f.input :coating_requirements %>
    <%= f.input :paint_specs, label: "Paint Specs Available?" %>
    <%= f.input :masking_requirements %>
    <%= f.input :packaging_requirements %>
    <%= f.input :quantity_year, label: "Quantity Per Year" %>
    <%= f.input :quantity_run, label: "Quantity Per Run" %>
    <%= f.input :note, placeholder: "Anything additional you might want to add.", :input_html => { :rows => 5 } %>
    <% if user_signed_in?%>
    <%= f.input :status, collection: ["New", "Viewed", "Submitted", "Won", "Lost"] %>
    <%= f.association :user, label_method: :email %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Quote", class: "btn btn-special btn-color" %>
  </div>
</br>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45387699-1', 'columbuspowdercoat.com');
  ga('send', 'pageview');

</script>

