<div class="quote_request_table">
  <table class="quote_request_table datatable display responsive no-wrap">
    <thead>
      <tr>
        <th>Date</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% quote_requests.each do |qr| %>
        <tr>
          <td><%= qr.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= qr.first_name %></td>
          <td><%= qr.last_name %></td>
          <td><%= qr.email %></td>
          <td><%= qr.telephone %></td>
          <td><%= link_to 'Show', qr %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
