<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mb-4">Quote Calculator</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%= form_tag '#', onSubmit: "return false", id: 'calculator-form' do %>
        <div class="row mb-3">
          <div class="col-sm-6">
            <%= label_tag 'Labor Hours' %>
            <%= text_field_tag :labor_hours, nil, placeholder: 'Estimated # of hours', class: 'form-control', data: { rate: 115 } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6">
            <%= label_tag 'Oven Hours' %>
            <%= text_field_tag :oven_hours, nil, placeholder: 'Estimated # of hours', class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <%= label_tag 'Oven Size' %>
            <%= select_tag :oven_size,
                            options_from_collection_for_select(@oven_sizes, :last, :first),
                            class: 'form-control' %>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-6">
            <%= label_tag 'Powder Pounds' %>
            <%= text_field_tag :powder_weight,
                               nil,
                               placeholder: 'Estimated # of lbs',
                               class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <%= label_tag 'Price per pound' %>
            <%= text_field_tag :powder_price,
                               nil,
                               placeholder: 'Price per lb',
                               class: 'form-control' %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 text-center mb-2">
            <label for="margin">Cost Of Business</label><br>
            <input
              type="integer"
              name="cost-of-business"
              data-provide="slider"
              data-slider-ticks="[0, 1, 2]"
              data-slider-ticks-labels='[".1", ".2", ".3"]'
              data-slider-min="0"
              data-slider-max="3"
              data-slider-step="1"
              data-slider-value="3"
              data-slider-tooltip="hide"
            >
          </div>
          <div class="col-md-6 text-center mb-4">
            <label for="margin">Pricing Scale</label><br>
            <input
              type="integer"
              name="margin"
              data-provide="slider"
              data-slider-ticks="[0, 1, 2, 3, 4]"
              data-slider-ticks-labels='["A", "B", "C", "R", "F"]'
              data-slider-min="0"
              data-slider-max="4"
              data-slider-step="1"
              data-slider-value="0"
              data-slider-tooltip="hide"
            >
          </div>
        </div>
      <% end %>
    </div> <!-- /.col-sm-8 -->
    <div class="col-sm-4">
      <table class="table tabl-bordered">
        <thead>
          <tr>
            <th>Subtotal</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <td id="subtotal">$<span>0.00</span></td>
          <td id="total">$<span>0.00</span></td>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--
# labor hours (100/hr)
# oven large (45/hr)
# oven small (20/hr)
# powder (stock 8.5/lb, exotic 12.50/lb, custom 16.50/lb)
# cost of business [labor oven powder] x (.05, .075, .1, .125, .15, .225)
# margin ((total cost)/.4) -margins: .35, .425, .525, .6
-->
