<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mb-4">Quote Calculator</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%= form_tag '#', onSubmit: "return false", id: 'calculator-form' do %>
        <div class="row mb-3">
          <div class="col-sm-6">
            <%= label_tag 'Labor Hours' %>
            <%= text_field_tag :labor_hours, nil, placeholder: 'Estimated # of hours', class: 'form-control', data: { rate: 115 } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6">
            <%= label_tag 'Oven Hours' %>
            <%= text_field_tag :oven_hours, nil, placeholder: 'Estimated # of hours', class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <%= label_tag 'Oven Size' %>
            <%= select_tag :oven_size,
                            options_from_collection_for_select(@oven_sizes, :last, :first),
                            class: 'form-control' %>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-6">
            <%= label_tag 'Powder Pounds' %>
            <%= text_field_tag :powder_weight,
                               nil,
                               placeholder: 'Estimated # of lbs',
                               class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <%= label_tag 'Price per pound' %>
            <%= select_tag :powder_price,
                            options_for_select([['Basic ($10.50/lb.)', 10.50], ['Exotic ($15.75/lb.)', 15.75], ['Custom ($26.25/lb.)', 26.25]]),
                            prompt: 'Select a powder price',
                            class: 'form-control'  %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12 text-center mb-2">
            <label for="margin">Cost Of Business</label><br>
            <input
              type="integer"
              name="cost-of-business"
              data-provide="slider"
              data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8]"
              data-slider-ticks-labels='["IGT", "", "", "", "ITIGT", "", "", "", "IDHAFC"]'
              data-slider-min="0"
              data-slider-max="8"
              data-slider-step="1"
              data-slider-value="2"
              data-slider-tooltip="hide"
            >
          </div>
          <div class="col-lg-12 text-center mb-4">
            <label for="margin">Pricing Scale</label><br>
            <input
              type="integer"
              name="margin"
              data-provide="slider"
              data-slider-ticks="[0, 1, 2, 3, 4]"
              data-slider-ticks-labels='["A", "B", "C", "R", "F"]'
              data-slider-min="0"
              data-slider-max="4"
              data-slider-step="1"
              data-slider-value="0"
              data-slider-tooltip="hide"
            >
          </div>
        </div>
      <% end %>
    </div> <!-- /.col-sm-8 -->
    <div class="col-sm-4">
      <table class="table tabl-bordered">
        <thead>
          <tr>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <td id="total">$<span>0.00</span></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
