<div class="container contact"><h1>Listing quotes</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Status</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Part description</th>
    <th>Assigned to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quote_requests.each do |qr| %>
  <% if qr.status == "New" %>
    <tr style="background-color:#cccccc;">
  <% elsif qr.status == "Viewed" %>
    <tr style="background-color:#ffff99;">
  <% elsif qr.status == "Submitted" %>
    <tr style="background-color:#99ccff;">
  <% elsif qr.status == "Won" %>
    <tr style="background-color:#ccffcc;">
  <% elsif qr.status == "Lost" %>
    <tr style="background-color:#ff9999;">
  <% end%>
    <td><%= qr.status %></td>
    <td><%= qr.first_name %></td>
    <td><%= qr.last_name %></td>
    <td><%= qr.company_name %></td>
    <td><%= qr.email %></td>
    <td><%= qr.telephone %></td>
    <td><%= qr.part_description %></td>
    <td><%= qr.user ? qr.user.first_name : "Not assigned." %></td>
    <td><%= link_to 'Show', qr %></td>
    <td><%= link_to 'Edit', edit_quote_request_path(qr) %></td>
    <td><%= link_to 'Destroy', qr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path, class: "btn btn-special btn-color" %>
</div>
