<div class="container contact">
  <h1>Listing quotes</h1>

  <% if params[:quote_request] == "All" %>
    <%= link_to "Active Quote Requests", quote_requests_path %>
    <%= render 'quote_request_table', quote_requests: @quote_requests %>

  <% else %>
    <%= link_to "All Quote Requests", quote_requests_path(quote_request: "All") %>
    <%= render 'quote_request_table', quote_requests: @active_quote_requests %>

  <% end %>

  <br />

  <%= link_to 'New Quote', new_quote_request_path, class: "btn btn-special btn-color" %>
</div>
