<div class="container contact">
  <p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @quote_request.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @quote_request.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @quote_request.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @quote_request.telephone %>
</p>

<p>
  <b>Quantity year:</b>
  <%= @quote_request.quantity_year %>
</p>

<p>
  <b>Quantity run:</b>
  <%= @quote_request.quantity_run %>
</p>

<p>
  <b>Note:</b>
  <%= @quote_request.note %>
</p>

<% if @quote_request.quote_request_attachments %>
  <p>
    <b>Attachments:</b>
    <% @quote_request.quote_request_attachments.each_with_index do |qra, i|%>
      <%= link_to "Attachment #{i+1}", qra.attachment.url %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Destroy', @quote_request, method: :delete, data: { confirm: 'Are you sure you want to delete this quote request?' } %>
</div>
