<div class="container contact">
  <p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @quote_request.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @quote_request.last_name %>
</p>

<p>
  <b>Job title:</b>
  <%= @quote_request.job_title %>
</p>

<p>
  <b>Company name:</b>
  <%= @quote_request.company_name %>
</p>

<p>
  <b>Address 1:</b>
  <%= @quote_request.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @quote_request.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @quote_request.city %>
</p>

<p>
  <b>State:</b>
  <%= @quote_request.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @quote_request.zip %>
</p>

<p>
  <b>Email:</b>
  <%= @quote_request.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @quote_request.telephone %>
</p>

<p>
  <b>Fax:</b>
  <%= @quote_request.fax %>
</p>

<p>
  <b>Part number:</b>
  <%= @quote_request.part_number %>
</p>

<p>
  <b>Part description:</b>
  <%= @quote_request.part_description %>
</p>

<p>
  <b>Powder color:</b>
  <%= @quote_request.powder_color %>
</p>

<p>
  <b>Powder product code:</b>
  <%= @quote_request.powder_product_code %>
</p>

<p>
  <b>Powder product manufacturer:</b>
  <%= @quote_request.powder_product_manufacturer %>
</p>

<p>
  <b>Part size:</b>
  <%= @quote_request.part_size %>
</p>

<p>
  <b>Substrate:</b>
  <%= @quote_request.substrate %>
</p>

<p>
  <b>Coating requirements:</b>
  <%= @quote_request.coating_requirements %>
</p>

<p>
  <b>Paint specs:</b>
  <%= @quote_request.paint_specs %>
</p>

<p>
  <b>Masking requirements:</b>
  <%= @quote_request.masking_requirements %>
</p>

<p>
  <b>Packaging requirements:</b>
  <%= @quote_request.packaging_requirements %>
</p>

<p>
  <b>Quantity year:</b>
  <%= @quote_request.quantity_year %>
</p>

<p>
  <b>Quantity run:</b>
  <%= @quote_request.quantity_run %>
</p>

<p>
  <b>Note:</b>
  <%= @quote_request.note %>
</p>


<%= link_to 'Edit', edit_quote_request_path(@quote_request) %> |
<%= link_to 'Back', quote_requests_path %>
</div>