.container.contact
  .row
    .col-md-8
      %p
        %b Quote Request #:
        = @quote_request.id
      %p
        %b First name:
        = @quote_request.first_name
      %p
        %b Last name:
        = @quote_request.last_name
      %p
        %b Email:
        = mail_to @quote_request.email
      %p
        %b Telephone:
        = @quote_request.telephone
      %p
        %b Note:
        = @quote_request.note
      %p
        %b Quote Request Owner:
        = @quote_request.user.try :full_name
      - if @quote_request.quote_request_attachments
        %p
          %b Attachments:
          - @quote_request.quote_request_attachments.each_with_index do |qra, i|
            = link_to "Attachment #{i+1}", qra.attachment.url
      = link_to 'Edit', edit_quote_request_path(@quote_request)
      | #{link_to "Generate Calcuation", calculator_quote_requests_path} | #{link_to 'Destroy', @quote_request, method: :delete, data: { confirm: 'Are you sure you want to delete this quote request?' }}
    .col-md-4.mt-md-0.mt-lg-0.mt-5
      .row.mb-3
        .col
          - if @quote_request.work_order
            = link_to "View Work Order", @quote_request.work_order, class: 'btn btn-primary float-right'
          - else
            = link_to 'Convert To Work Order', quote_request_conversions_path(quote_request_id: @quote_request.id), method: :post, class: 'btn btn-warning float-right', data: { confirm: 'Are you sure? This will create a new work order.' }
      .row
        .col
          %h2 Add Note
          = render partial: 'notes/notable_form', locals: { resource: @quote_request, note: @note}
      .row.mt-4
        .col.notes-index
          = render partial: 'notes/index_snippet', locals: { notes: @notes, page: params[:page] }
