<div class="main">
  <%= image_tag 'cauv_table.jpg', width:'100%' %>
</div>
<div class="main-details">
  CONSUMER <span class="hidden-sm hidden-xs">&bull;</span> COMMERCIAL <span class="hidden-sm hidden-xs">&bull;</span> INDUSTRIAL
</div>
<div class="coatings">
  <div class="quality hidden-sm hidden-xs">
    QUALITY COATINGS
  </div>
  <div class="quality-mobile hidden-lg hidden-md">
    QUALITY COATINGS
  </div>
  <div class="manufacturers row">
    <div class="col-md-4 text-center">
      <%= link_to "https://www.tcipowder.com/", target: "_blank" do %>
        <%= image_tag 'tci.png', width: '50%' %>
      <% end %>
    </div>
    <div class="col-md-4 text-center">
      <%= link_to "https://www.akzonobel.com/powder/", target: "_blank" do %>
        <%= image_tag 'akzo.png', width: '50%'%>
      <% end %>
    </div>
    <div class="col-md-4 text-center">
      <%= link_to "http://www.prismaticpowders.com/", target: "_blank" do %>
        <%= image_tag 'prismatic.png', width: '50%' %>
      <% end %>
    </div>
  </div>
</div>

<div class="rfq row">
  <div class="text-center">
    <div class="rfq-header">
      REQUEST A QUOTE
    </div>
    <div class="rfq-sub-header hidden-sm hidden-xs">
        LEAVE US A DESCRIPTION/IMAGE/DOC , DESIRED TURNAROUND, CONTACT INFORMATION AND WE’LL GET RIGHT BACK TO YOU
    </div>
    <div class="rfq-sub-header hidden-lg hidden-md">
        LEAVE US A DESCRIPTION/IMAGE/DOC<br>
        DESIRED TURNAROUND, CONTACT INFORMATION <br>
        AND WE’LL GET RIGHT BACK TO YOU
    </div>
    <div class="rfq-button">
      <%= link_to "RFQ", new_quote_request_path, class: "btn btn-rfq" %>
    </div>
    <div class="rfq-phone">
      OR CALL 614.300.5025
    </div>
  </div>
</div>
