<div class="main-slider" style="margin-top:-60px;">
  <ul>
    <li><%= image_tag 'rack_pic_1.jpg', width:'100%', class: 'rack-pic' %></li>
    <li><%= image_tag 'new_cauv_table.jpg', width:'100%' %></li>
  </ul>
</div>
<div class="main-details">
  CONSUMER <span class="hidden-sm-down">&bull;</span> COMMERCIAL <span class="hidden-sm-down">&bull;</span> INDUSTRIAL
</div>

<%= render 'coatings_section' %>

<%= render 'services_section' %>

<%= render 'powders_section' %>


<div class="rfq">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Request A Quote</h1>
        <p class="text-muted text-small">
          Leave us a description or upload images of your project.
        </p>
        <p>
          <%= link_to "REQUEST QUOTE HERE", new_quote_request_path, class: "btn btn-rfq" %>
        </p>
        <p>
          OR CALL 614.300.5025
        </p>
      </div>
    </div>
  </div>
</div>
