<!-- Dashboard Side Nav **end** -->
<div class="container user_dashboard">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-6">
              <i class="icon icon-list icon-5x"></i>
            </div>
            <div class="col-6 text-right">
              <h1><%= @new_quote_requests.count ? @new_quote_requests.count : 0 %></h1>
              <p class="announcement-text">New Quote <%= pluralize_without_count(@new_quote_requests.count, 'Request')%><%= @new_quote_requests.count == 0 ? "" : "!" %></p>
            </div>
          </div>
        </div>
        <a href="<%= quote_requests_path %>">
          <div class="card-footer announcement-bottom">
            View Quote Requests
            <i class="icon icon-angle-down float-right mt-1"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1>Powder Management</h1>
            </div>
          </div>
        </div>
        <a href="<%= powders_path %>">
          <div class="card-footer announcement-bottom">
            Manage Inventory
            <i class="icon icon-angle-down float-right mt-1"></i>
          </div>
        </a>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
