<!-- Dashboard Side Nav **end** -->
<div class="container user_dashboard">
  <div class="row d-flex mb-5">
    <div class="col-sm-12">
      <%= link_to "New Customer", new_customer_path, class: "btn btn-info" %>
      <%= link_to "Quote Calculator", calculator_quote_requests_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="row d-flex align-items-stretch">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <i class="fa fa-list icon-5x"></i>
            </div>
            <div class="col-10 text-right">
              <h1><%= @new_quote_requests.count ? @new_quote_requests.count : 0 %></h1>
              <h3 class="card-title mb-0">New Quote <%= pluralize_without_count(@new_quote_requests.count, 'Request')%><%= @new_quote_requests.count == 0 ? "" : "!" %></h3>
            </div>
          </div>
        </div>
        <a href="<%= quote_requests_path %>">
          <div class="card-footer">
            <strong>
              View Quote Requests <i class="fa fa-angle-down float-right mt-1"></i>
            </strong>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="mb-0">Powder Management</h1>
            </div>
          </div>
        </div>
        <a href="<%= powders_path %>">
          <div class="card-footer">
            <strong>Manage Inventory
              <i class="fa fa-angle-down float-right mt-1"></i></strong>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="mb-0">Customers</h1>
            </div>
          </div>
        </div>
        <a href="<%= customers_path %>">
          <div class="card-footer">
            <strong>Customers
              <i class="fa fa-angle-down float-right mt-1"></i></strong>
          </div>
        </a>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row mt-5 mb-3">
    <div class="col-sm-12">
      <h1>Outstanding Work Orders</h1>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <% if @outstanding_work_orders.any? %>
        <%= render 'work_orders/outstanding_work_orders', outstanding_work_orders: @outstanding_work_orders %>
      <% else %>
        <p>No Outstanding work orders.</p>
      <% end %>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
