
.row
  .col-sm-8
    = simple_form_for [@quote_form.quote_request, @quote_form.quote], html: { id: 'calculator-form' } do |f|
      .row.mb-3
        .col-sm-6
          = f.input :labor_hours, placeholder: 'Estimated # of hours', input_html: { data: { rate: @quote_form.labor_rate } }
      .row.mb-3
        .col-sm-6
          = f.input :oven_hours, placeholder: 'Estimated # of hours'
        .col-sm-6
          = f.input :hourly_oven_price, label: 'Oven size', collection: @quote_form.oven_sizes, prompt: 'Select an oven size'
      .row.mb-4
        .col-sm-6
          = f.input :powder_pounds, label: 'Powder pounds', placeholder: 'Estimated # of lbs'
        .col-sm-6
          = f.input :powder_price, collection: @quote_form.powder_costs, prompt: 'Select a powder price'
      .row.mt-3
        .col-lg-12.text-center.mb-2
          = f.input :cost_of_business, readonly: true
          %label{:for => "margin"} Cost Of Business
          %br/
          %input{"data-provide" => "slider", "data-slider-max" => "8", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-ticks" => "[0, 1, 2, 3, 4, 5, 6, 7, 8]", "data-slider-ticks-labels" => "[\"IGT\", \"\", \"\", \"\", \"ITIGT\", \"\", \"\", \"\", \"IDHAFC\"]", "data-slider-tooltip" => "hide", "data-slider-value" => "2", :name => "cost-of-business", :type => "integer"}/
        .col-lg-12.text-center.mb-4
          = f.input :pricing_scale, readonly: true
          %label{:for => "margin"} Pricing Scale
          %br/
          %input{"data-provide" => "slider", "data-slider-max" => "4", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-ticks" => "[0, 1, 2, 3, 4]", "data-slider-ticks-labels" => "[\"A\", \"B\", \"C\", \"R\", \"F\"]", "data-slider-tooltip" => "hide", "data-slider-value" => "0", :name => "margin", :type => "integer"}/
          = f.submit "Save quote", input_html: { class: 'btn btn-success' }
  .col-sm-4
    %table.table.tabl-bordered
      %thead
        %tr
          %th Total
      %tbody
        %td#total
          $
          %span 0.00
