<div class="container contact"><h1>Listing quotes</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Status</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Part description</th>
    <th>Assigned to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <% if quote.status == "New" %>
    <tr style="background-color:#cccccc;">
  <% elsif quote.status == "Viewed" %>
    <tr style="background-color:#ffff99;">
  <% elsif quote.status == "Submitted" %>
    <tr style="background-color:#99ccff;">
  <% elsif quote.status == "Won" %>
    <tr style="background-color:#ccffcc;">
  <% elsif quote.status == "Lost" %>
    <tr style="background-color:#ff9999;">
  <% end%>
    <td><%= quote.status %></td>
    <td><%= quote.first_name %></td>
    <td><%= quote.last_name %></td>
    <td><%= quote.company_name %></td>
    <td><%= quote.email %></td>
    <td><%= quote.telephone %></td>
    <td><%= quote.part_description %></td>
    <td><%= quote.user ? quote.user.first_name : "Not assigned." %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path, class: "btn btn-special btn-color" %>
</div>
