<div class="container contact"><h1>Listing quotes</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Company name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Fax</th>
    <th>Part number</th>
    <th>Part description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.first_name %></td>
    <td><%= quote.last_name %></td>
    <td><%= quote.company_name %></td>
    <td><%= quote.address_1 %></td>
    <td><%= quote.address_2 %></td>
    <td><%= quote.city %></td>
    <td><%= quote.state %></td>
    <td><%= quote.zip %></td>
    <td><%= quote.email %></td>
    <td><%= quote.telephone %></td>
    <td><%= quote.fax %></td>
    <td><%= quote.part_number %></td>
    <td><%= quote.part_description %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path, class: "btn btn-special btn-color" %>
</div>
