<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @quote.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @quote.last_name %>
</p>

<p>
  <b>Job title:</b>
  <%= @quote.job_title %>
</p>

<p>
  <b>Company name:</b>
  <%= @quote.company_name %>
</p>

<p>
  <b>Address 1:</b>
  <%= @quote.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @quote.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @quote.city %>
</p>

<p>
  <b>State:</b>
  <%= @quote.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @quote.zip %>
</p>

<p>
  <b>Email:</b>
  <%= @quote.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @quote.telephone %>
</p>

<p>
  <b>Fax:</b>
  <%= @quote.fax %>
</p>

<p>
  <b>Part number:</b>
  <%= @quote.part_number %>
</p>

<p>
  <b>Part description:</b>
  <%= @quote.part_description %>
</p>

<p>
  <b>Powder color:</b>
  <%= @quote.powder_color %>
</p>

<p>
  <b>Powder product code:</b>
  <%= @quote.powder_product_code %>
</p>

<p>
  <b>Powder product manufacturer:</b>
  <%= @quote.powder_product_manufacturer %>
</p>

<p>
  <b>Part size:</b>
  <%= @quote.part_size %>
</p>

<p>
  <b>Substrate:</b>
  <%= @quote.substrate %>
</p>

<p>
  <b>Coating requirements:</b>
  <%= @quote.coating_requirements %>
</p>

<p>
  <b>Paint specs:</b>
  <%= @quote.paint_specs %>
</p>

<p>
  <b>Masking requirements:</b>
  <%= @quote.masking_requirements %>
</p>

<p>
  <b>Packaging requirements:</b>
  <%= @quote.packaging_requirements %>
</p>

<p>
  <b>Quantity year:</b>
  <%= @quote.quantity_year %>
</p>

<p>
  <b>Quantity run:</b>
  <%= @quote.quantity_run %>
</p>

<p>
  <b>Note:</b>
  <%= @quote.note %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
