.container.contact
  %p#notice= notice
  %p
    %b First name:
    = @quote.first_name
  %p
    %b Last name:
    = @quote.last_name
  %p
    %b Job title:
    = @quote.job_title
  %p
    %b Company name:
    = @quote.company_name
  %p
    %b Address 1:
    = @quote.address_1
  %p
    %b Address 2:
    = @quote.address_2
  %p
    %b City:
    = @quote.city
  %p
    %b State:
    = @quote.state
  %p
    %b Zip:
    = @quote.zip
  %p
    %b Email:
    = @quote.email
  %p
    %b Telephone:
    = @quote.telephone
  %p
    %b Fax:
    = @quote.fax
  %p
    %b Part number:
    = @quote.part_number
  %p
    %b Part description:
    = @quote.part_description
  %p
    %b Powder color:
    = @quote.powder_color
  %p
    %b Powder product code:
    = @quote.powder_product_code
  %p
    %b Powder product manufacturer:
    = @quote.powder_product_manufacturer
  %p
    %b Part size:
    = @quote.part_size
  %p
    %b Substrate:
    = @quote.substrate
  %p
    %b Coating requirements:
    = @quote.coating_requirements
  %p
    %b Paint specs:
    = @quote.paint_specs
  %p
    %b Masking requirements:
    = @quote.masking_requirements
  %p
    %b Packaging requirements:
    = @quote.packaging_requirements
  %p
    %b Quantity year:
    = @quote.quantity_year
  %p
    %b Quantity run:
    = @quote.quantity_run
  %p
    %b Note:
    = @quote.note
  = link_to 'Edit', edit_quote_path(@quote)
  |
  = link_to 'Back', quotes_path
