.container
  %h1.d-inline #{@customer.name} Parts Inventory
  = link_to 'New Part', new_customer_part_path, class: 'btn btn-success float-right'

  %table.table.tables-striped
    %thead
      %tr
        %th Sku
        %th Label
        %th Description
        %th
        %th
        %th

    %tbody
      - @customer_parts.each do |customer_part|
        %tr
          %td= customer_part.sku
          %td= customer_part.label
          %td= customer_part.description
          %td= link_to 'Show', customer_part_path(id: customer_part.id)
          %td= link_to 'Edit', edit_customer_part_path(id: customer_part.id)
          %td= link_to 'Archive', customer_part_path(id: customer_part.id), method: :delete, data: { confirm: part_archive_confirm(customer_part) }

  %h2.d-inline Archived Parts

  %table.table.tables-striped
    %thead
      %tr
        %th Sku
        %th Label
        %th Description
        %th
        %th

    %tbody
      - @customer_parts.only_deleted.each do |customer_part|
        %tr
          %td= customer_part.sku
          %td= customer_part.label
          %td= customer_part.description
          %td= link_to 'Show', customer_part_path(id: customer_part.id)
          %td= link_to 'Restore', customer_part_path(id: customer_part.id, part: { deleted_at: nil }), method: :put
