.container
  %p#notice= notice

  %p
    %b Sku:
    = @part.sku
  %p
    %b Label:
    = @part.label
  %p
    %b Description:
    = @part.description
  %p
    %b Customer:
    - if current_user.customer?
      = link_to @part.customer_name, root_path
    - else
      = link_to @part.customer_name, @part.customer

  = link_to 'Edit', edit_customer_part_path(@part)
  \|
  = link_to 'Back', customer_parts_path
