<p id="notice"><%= notice %></p>

<p>
  <strong>Quote request:</strong>
  <%= @quote_request_attachment.quote_request_id %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @quote_request_attachment.attachment %>
</p>

<%= link_to 'Edit', edit_quote_request_attachment_path(@quote_request_attachment) %> |
<%= link_to 'Back', quote_request_attachments_path %>
