<%= simple_form_for(@work_order_schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :work_order, selected: params[:work_order_id],
                                   disabled: true,
                                   input_html: { class: 'col-md-3' } %>
    <%= f.hidden_field :work_order_id, value: params[:work_order_id] %>

    <div class="service-schedules">
      <%= f.simple_fields_for :service_schedules do |service_schedule| %>
        <%= render 'service_schedule_fields', f: service_schedule %>
        <div class="links mt-2">
          <%= link_to_add_association f, :service_schedules, class: 'float-right' do %>
            <span class="fas fa-plus text-success"></span>
            <span class="text-success">Add Schedule</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix">

  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
