<%= simple_form_for(@work_order_schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :work_order %>

    <div class="service-schedules">
      <%= f.simple_fields_for :service_schedules do |service_schedule| %>
        <%= render 'service_schedule_fields', f: service_schedule %>
        <div class="links">
          <%= link_to_add_association 'add service schedule', f, :service_schedules %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
