<div class="container">
  <h1>Work Order Schedule</h1>
  <p>
    <strong>Work Order:</strong>
    <%= link_to @work_order_schedule.work_order.try(:name), @work_order_schedule.work_order %>
    <div>
      <strong>Services:</strong>
      <% @work_order_schedule.work_order.services.each do |service| %>
        <%= badgeify(service) %>
      <% end %>
    </div>
  </p>
  <div class="mt-3">
    <table class="table">
      <tr>
        <th>Service</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Notes</th>
      </tr>
      <% @work_order_schedule.service_schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.service.name %></td>
          <td><%= schedule.start_date.try(:strftime, '%A, %b %d') %></td>
          <td><%= schedule.end_date.try(:strftime, '%A, %b %d') %></td>
          <td><%= schedule.note %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= link_to 'Edit', edit_work_order_schedule_path(@work_order_schedule) %> |
  <%= link_to 'Back', work_order_schedules_path %>
</div>
