= @quote_request.first_name if @quote_request.first_name
= @quote_request.last_name if @quote_request.last_name
has sent you an RFQ.

Job title: #{@quote_request.job_title if @quote_request.job_title}
Company: #{@quote_request.company_name if @quote_request.company_name}
Phone: #{@quote_request.telephone if @quote_request.telephone}
Email: #{@quote_request.email if @quote_request.email}

Here is a link you your new RFQ!

\#{link_to "RFQ", @quote_request}
