<p>
  <%= @quote_request.first_name if @quote_request.first_name %> <%= @quote_request.last_name if @quote_request.last_name %> has sent you an RFQ
</p>
<p>Job title: <%= @quote_request.job_title if @quote_request.job_title %></p>
<p>Company: <%= @quote_request.company_name if @quote_request.company_name %></p>
<p>Phone: <%= @quote_request.telephone if @quote_request.telephone %></p>
<p>Email: <%= @quote_request.email if @quote_request.email %></p>
<p>
  <strong>Here is a link you your new RFQ!</strong><br>
  <%= link_to 'Click Here!', quote_request_url(@quote_request) %>
</p>
