.container
  %h2 Editing User
  .row
    .col-md-4
      = simple_form_for @user do |f|
        = f.association :user_type, collection: UserType.for_all, input_html: { class: 'chosen' }
        = f.association :customers, label: 'Associate for', input_html: { class: 'chosen' }
        = f.input :first_name, required: true
        = f.input :last_name, required: true
        = f.input :email, required: true
        = f.input :can_approve_work_orders
        = f.submit 'Update User',
                   class: 'btn btn-success'
