.container
  .card
    .card-header
      %h1  Manage Customer's Users
    .card-body
      %h2 Active
      %table.table.table-striped
        %thead
          %tr
            %th User
            %th Company
            %th
            %th
        %tbody
          - @user_dashboard.active_customer_users.each do |user|
            %tr
              %td= user.full_name
              %td= link_to user.customers.first&.name, user.customers.first if user.customers
              %td= link_to 'edit', edit_user_path(user)
              %td= link_to 'Deactivate User',
                            user,
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'text-danger'

      %h2 Inactive
      %table.table.table-striped
        %thead
          %tr
            %th User
            %th Company
            %th
            %th
        %tbody
          - @user_dashboard.inactive_customer_users.each do |user|
            %tr
              %td= user.full_name
              %td= link_to user.customers.first.name, user.customers.first if user.customers
              %td= link_to 'edit', edit_user_path(user)
              %td= link_to 'Activate',
                            user_path(user, user: { deleted_at: 'nil' }),
                            method: :put,
                            class: 'text-success'
  .card.mt-4
    .card-header
      %h1 Manager Internal Users
    .card-body
      %h2.d-inline Active
      = link_to new_user_path, class: 'btn btn-success mb-3 float-right' do
        %i.fas.fa-user-plus
        New Internal User
      %table.table.table-striped
        %thead
          %tr
            %th User
            %th
            %th
        %tbody
          - @user_dashboard.active_internal_users.each do |user|
            %tr
              %td= user.full_name
              %td= link_to 'edit', edit_user_path(user)
              %td= link_to 'Deactivate User',
                            user,
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'text-danger'

      %h2 Inactive
      %table.table.table-striped
        %thead
          %tr
            %th User
            %th
            %th
        %tbody
          - @user_dashboard.inactive_internal_users.each do |user|
            %tr
              %td= user.full_name
              %td= link_to 'edit', edit_user_path(user)
              %td= link_to 'Activate',
                            user_path(user, user: { deleted_at: 'nil' }),
                            method: :put,
                            class: 'text-success'
