<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>Editing box</h1>
      <p class="alert alert-warning mt-3 mb-4">
        To update the weight <strong>enter the new total weight</strong> of the box and <strong>click 'Update Box'</strong>.
      </p>
      <%= simple_form_for(@box) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.association :powder, label_method: :list_name, disabled: true, input_html: { class: 'chosen' } %>
          <%= f.input :original_weight, placeholder: 'standard weight of box when received', disabled: true %>
          <%= f.input :weight, hint: 'in lbs (round down to the nearest pound)' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-lg btn-success' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
