<div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-auto work-order-navbar">
      <% if @customer.company? %>
        <%= link_to new_customer_contact_path(@customer.id), class: "btn btn-primary add-contact" do %>
          <i class="fas fa-user"></i> Add Contact
        <% end %>
      <% end %>
      <%= link_to new_customer_work_order_path(@customer.id), class: "btn btn-warning mr-2 add-work-order #{disable_with_contact(@customer)}" do %>
        <i class="fas fa-plus"></i> Add Work Order
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1 class="d-inline mb-0"><%= @customer.name %></h1> <small><%= link_to 'edit', edit_customer_path(@customer) %></small>
        </div>
        <div class="card-body pb-0">
          <p>
            <% if @customer.has_valid_address? %>
              <%= @customer.address1 %> <br>
              <%= "#{@customer.address2} <br>".html_safe unless @customer.address2.blank? %>
              <%= "#{@customer.city}, #{@customer.state} #{@customer.zip_code}" %> <br>
            <% else %>
              <span class="text-danger">
                Please ensure customer has street address, city, state and zip.
              </span>
            <% end %>
          </p>
          <p>
            <strong>Email:</strong> <%= @customer.primary_contact.try(:email) || @customer.email %>
          </p>
          <p>
            <strong>Phone:</strong> <%= @customer.phone %>
          </p>
          <% if @customer.fax.present? %>
            <p>
              <strong>Fax:</strong> <%= @customer.fax %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= render 'contact_information', customer: @customer if @customer.company? %>
    </div>
  </div>
  <hr>
  <div class="row mb-4">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header">
          <h1 class="mb-0">Work Orders</h1>
        </div>
        <div class="card-body">
          <table class="table datatable">
            <thead>
              <tr>
                <th>Work Order ID</th>
                <th>Job Name</th>
                <th>Contact Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @customer.work_orders.each do |work_order| %>
                <tr>
                  <td><%= work_order.id %></td>
                  <td><%= work_order.name %></td>
                  <td>
                    <%= link_to work_order.contact.try(:full_name), work_order.contact %>
                  </td>
                  <td><%= link_to "View", work_order %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-3 p-0">
      <div class="card w-100">
        <div class="card-header">
          <h2 class="mb-0">Attachments</h2>
        </div>
        <div class="card-body mb-0">
          <% if @customer.attachments.present? %>
            <ol class="pl-4">
              <% @customer.attachments.each do |attachment| %>
                <li><%= link_to attachment.file.try(:filename), attachment.url %></li>
              <% end %>
            </ol>
          <% else %>
            <p class="text-danger mb-0">No Attachments</p>
          <% end %>
        </div>
        <div class="card-footer">
          <%= simple_form_for @customer, url: customer_attachments_path(@customer), method: :post do |f| %>
            <%= f.input :attachments, as: :file, label: 'Add Attachments', input_html: { multiple: true } %>
            <%= f.submit 'Add Attachments', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This customer needs a primary contact before you can add a work order.
        </div>
      </div>
    </div>
  </div>
</div>
