<div class="container">
  <div class="row mb-4">
    <div class="col-sm-12">
      <%= link_to new_customer_contact_path(@customer.id), class: "btn btn-primary float-right" do %>
        <i class="icon icon-plus"></i> Add Contact
      <% end %>
        <%= link_to new_customer_work_order_path(@customer.id), class: "btn btn-warning mr-2 float-right" do %>
          <i class="icon icon-plus"></i> Add Work Order
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h1 class="d-inline"><%= @customer.name %></h1> <small><%= link_to 'Edit', edit_customer_path(@customer) %></small>
      <p class="mt-4">
        <%= @customer.address1 %> <br>
        <%= "#{@customer.address2} <br>".html_safe unless @customer.address2.blank? %>
        <%= "#{@customer.city}, #{@customer.state} #{@customer.zip_code}" %> <br>
      </p>
      <p>
        <strong>Phone:</strong> <%= @customer.phone %>
      </p>
      <p>
        <strong>Fax:</strong> <%= @customer.fax %>
      </p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Contacts</h2>
        </div>
        <div class="card-body">
          <ul style="list-style-type: none;" class="pl-2">
            <li class="mb-3">
              <strong>Primary Contact:</strong>
              <%= "#{link_to @customer.primary_contact.try(:full_name), @customer.primary_contact, target: '_blank'} (#{@customer.primary_contact.title})".html_safe if @customer.primary_contact %>
            </li>
            <h5>Additional Contacts <small><%= link_to "add", new_customer_contact_path(@customer.id) %></small></h5>
            <% @customer.contacts.each do |contact| %>
              <% next if contact.is_primary? %>
              <li>
                <%= "#{link_to contact.full_name, contact} (#{contact.title})".html_safe %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mb-4">
    <div class="col-sm-12">
      <h1>Work Orders</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table datatable">
        <thead>
          <tr>
            <th>Work Order ID</th>
            <th>Job Name</th>
            <th>Contact Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customer.work_orders.each do |work_order| %>
            <tr>
              <td><%= work_order.id %></td>
              <td><%= work_order.name %></td>
              <td>
                <%= link_to work_order.contact.try(:full_name), work_order.contact %>
              </td>
              <td><%= link_to "View", work_order %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
