<div class="page-wrapper">
  <%= render 'pages/page_header' %>

  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <h3>Powder Coating</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-9">
        <p>
          The heart of our services is in metal finishes by applied powder coating. While powder coating is not a new technology, the technology of the industry and materials is changing all the time. Having our thumb on the pulse of the finishing industry, Columbus Powder Coat is ready to assist with powder finishes ranging from single stage top coats to duplex primer + top coat systems, metallics, textures and specified materials.
        </p>
        <p>
          With the mechanical and manpower on hand in our facility, Columbus Powder Coat is able to handle anything from the smallest bracket to large industrial, residential or commercial parts. Our large batch oven has dimensions of 8’ wide, 6’ tall and 24’ long.
        </p>
        <%= link_to "Request A Quote", new_quote_request_path, class: "btn btn-danger d-block d-md-inline mb-4" %>
      </div>
      <div class="col-md-3">
        <%= image_tag "cpc-powder-coating-2.png", class: "img-fluid" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>Sandblasting</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-9">
        <p>
          Surface preparation is the primary cause of coating failure. It’s generally not enough to simply wipe clean a part and then apply powder coating material. Through experience and comparative testing we’ve found sandblast surface preparation to be the most superior and economical choice. Our blast room is 8’ wide, 9’ tall and 42’ long. Anything that can fit in our large oven can fit in our blast room and more!
        </p>
        <p>
          Even if you plan to finish your parts elsewhere or DIY, feel free to contact us for sandblasting surface prep. We’re happy to discuss and help with your project in any way we can.
        </p>
        <%= link_to "Request A Quote", new_quote_request_path, class: "btn btn-danger d-block d-md-inline mb-4" %>
      </div>
      <div class="col-md-3">
        <%= image_tag "cpc-blasted-frame.png", class: "img-fluid" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>Refinishing and Refurbishment</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-9">
        <p>
          At Columbus Powder Coat our combined experiences are ranging from automotive enthusiast to tool and machinery fanatics to antique metal work artists. Often refinishing and/or refurbishing comprises of much more than simply applying a new coating. Whether it be disassembly and reassembly, parts replacement or repair or even the application of new parts or technology to old pieces, Columbus Powder Coat can provide a professional assessment and firm estimate of the project at hand. Let us hear about what you’re working on!
        </p>
        <%= link_to "Request A Quote", new_quote_request_path, class: "btn btn-danger d-block d-md-inline mb-4" %>
      </div>
      <div class="col-md-3">
        <%= image_tag "cpc-refurbish.png", class: "img-fluid" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h3>Laser Engraving and Parts Marking</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 order-12">
        <%= image_tag "ohio-laser.png", class: "img-fluid" %>
        <%= image_tag "cpc-engraved-glasses.png", class: "img-fluid mt-3" %>
      </div>
      <div class="col-md-9 order-1">
        <p>
          With the new addition of our CO2 laser engraving machine, Columbus Powder Coat has the ability to etch and/or mark any coated metal products. Other materials we can etch or mark on include:
          <ul>
            <li>Plastics/Acrylics</li>
            <li>Slate</li>
            <li>Ceramic</li>
            <li>Wood</li>
            <li>Leather</li>
            <li>Glass and more!</li>
          </ul>
        </p>
        <p>
          While laser engraving equipment is low powered equipment compared to their higher powered industrial peers, our machine still has the capabilities to cut:
          <ul>
            <li>Plastics/Acrylics</li>
            <li>Wood</li>
            <li>Foam</li>
            <li>Delrin</li>
            <li>Rubber</li>
            <li>Fiberglass and more!</li>
          </ul>
        </p>
        <p>
          Our machine has a bed size of 28”x40” and a workable depth of 13”. If you have a project, an idea or a question regarding our laser services let’s connect!
        </p>
        <%= link_to "Request A Quote", new_quote_request_path, class: "btn btn-danger d-block d-md-inline mb-4" %>
      </div>
    </div>
  </div>
</div>
