.row
  .col-sm-12
    = simple_form_for [@contact.customer, @contact] do |f|
      .row
        .col-md-6
          = f.error_notification
          = f.input :first_name
          = f.input :last_name
          = f.input :phone
        .col-md-6
          = f.input :email
          = f.input :title
          = f.association :customer, label: 'Company',                  |
            input_html: { class: 'chosen' } unless params[:customer_id] |
          = f.input :make_primary_contact, as: :boolean,                                            |
            label: 'Make Primary Contact',                                                          |
            as: :boolean,                                                                           |
            input_html: { style: 'margin-right:10px;'} if params[:customer_id] || @contact.customer |
      .row
        .col-sm-12
          = f.button :submit, class: 'btn btn-success'
