<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        <strong>Name:</strong>
        <%= @contact.full_name %>
      </p>

      <p>
        <strong>Company:</strong>
        <% if @contact.customer %>
          <%= link_to @contact.customer.name, customer_path(@contact.customer), target: '_blank' %>
        <% else %>
          Not connected to a company.
        <% end %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @contact.phone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @contact.title %>
      </p>

      <%= link_to 'Edit', edit_contact_path(@contact) %> |
      <%= link_to 'Back', contacts_path %>
    </div>
  </div>
</div>
