<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Listing colors</h1>
      <p><%= link_to 'New Color', new_color_path, class: 'btn btn-secondary' %></p>
      <table class="datatable display responsive no-wrap">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @colors.each do |color| %>
            <tr>
              <td><%= color.name %></td>
              <td><%= link_to 'Show', color %></td>
              <td><%= link_to 'Edit', edit_color_path(color) %></td>
              <td><%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
