<div class='nested-fields mt-2'>
  <div class="card">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col">
          <%= f.input :description, placeholder: 'Description',
                                    label: false,
                                    wrapper_html: { class: 'mb-0', row: 1 } %>
        </div>
        <div class="col">
          <%= f.input :quantity, placeholder: 'Quantity',
                                 label: false,
                                 wrapper_html: { class: 'mb-0' } %>
        </div>
        <div class="col">
          <%= f.input :notes, placeholder: 'Notes',
                              label: false,
                              wrapper_html: { class: 'mb-0' } %>
        </div>
        <div class="col">
          <%= f.association :powder, placeholder: 'Powder',
                                     label: false,
                                     label_method: :list_select_name,
                                     wrapper_html: { class: 'mb-0' },
                                     input_html: { class: 'powder-chosen' } %>
        </div>
        <div class="col-1">
          <%= link_to_remove_association "<i class='fas fa-times text-danger'></i>".html_safe, f, data: { confirm: 'Are you sure you want to remove this line item?'}, class: 'float-right', title: 'Remove line item' %>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col text-center">
          <%= f.association :services, as: :check_boxes,
                                       label: false,
                                       input_html: { class: 'ml-5 mr-1' },
                                       wrapper_html: { class: 'mb-0' } %>
        </div>
      </div>
    </div>
  </div>
</div>
