%table.table.datatable
  %thead
    %tr
      %th Date due
      %th Customer
      %th Contact
      %th Job Name
      %th Order #
      %th Status
      %th
  %tbody
    - outstanding_work_orders.each do |work_order|
      %tr
        %td= work_order.date_due&.strftime('%b %e')
        %td= link_to work_order.customer&.name, customer_path(work_order.customer)
        %td= work_order.contact&.full_name
        %td= work_order.name
        %td= work_order.id
        %td= work_order.status ? work_order.status.titleize : 'Please set a status.'
        %td= link_to 'View', work_order, target: '_blank'
