<h2 class="mt-4 mb-4">Parts</h2>
<table class='table table-striped'>
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Powder</th>
      <th>Services</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @work_order.line_items.each_with_index do |line_item, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= line_item.description %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.powder ? line_item.powder.list_select_name : 'No powder selected' %></td>
      <td>
        <% line_item.services.each do |service| %>
          <%= badgeify(service) %>
        <% end %>
      </td>
      <td><%= line_item.notes %></td>
    </tr>
    <% end %>
  </tbody>
</table>
