<div class="row">
  <div class="col-lg-4 col-12 p-1 border">
    <div class="workflow-section-header text-white mb-1 bg-dark p-2 pl-3">
      Received &amp; Scheduled
      <span class="badge badge-pill badge-light float-right">
        <%= @work_orders.received_and_scheduled.uniq.count %>
      </span>
    </div>
    <div class="workflow-section-col">
      <% @work_orders.received_and_scheduled.order(:status, :date_scheduled).uniq.each do |work_order| %>
        <div class="card border-dark mb-1">
          <div class="card-header p-1 pl-2 pr-2">
            <span class="work-order-customer-name"><%= work_order.customer.try :name %></span>
            <span class="work-order-id float-right">
              <%= link_to "##{work_order.id}", work_order %>
            </span>
          </div>
          <div class="card-body p-2">
            <div class="d-inline">
              <strong>Due Date:</strong>
              <%= work_order.date_due ? work_order.date_due.strftime('%b %d %Y') : 'No date set' %> 
            </div>
            <% if work_order.scheduled? %>
              <div class="float-right">
                Scheduled:
                <span class="text-success">
                  <%= work_order.date_scheduled.strftime('%b %d %Y') if work_order.date_scheduled %>
                </span>
              </div>
            <% else %>
              <%= link_to "Schedule", work_order, class: 'float-right' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-12 p-1 border">
    <div class="workflow-section-header text-white mb-1 bg-dark p-2 pl-3">
      In Progress
      <span class="badge badge-pill badge-light float-right">
        <%= @work_orders.in_progress.uniq.count %>
      </span>
    </div>
    <div class="workflow-section-col">
      <% @work_orders.merge(ProductionStage.order(order: :desc)).in_progress.uniq.each do |work_order| %>
        <div class="card border-dark mb-1">
          <div class="card-header p-1 pl-2 pr-2">
            <span class="work-order-customer-name"><%= work_order.customer.try :name %></span>
            <span class="work-order-id float-right">
              <%= link_to "##{work_order.id}", work_order %>
            </span>
          </div>
          <% if work_order.production_stage_id %>
            <div class="card-body text-center text-success border border-success production-stage-status p-1">
              <strong>In <%= work_order.production_stage.name %></strong>
            </div>
          <% else %>
            <div class="card-body text-center text-warning border border-warning production-stage-status-warning p-1">
              <strong>Production Not Started</strong>
            </div>
          <% end %>
          <div class="card-body bg-light p-2">
            <span class="float-right">
              <%= due_date_formatter(work_order.date_due, work_order.date_completed) %>
            </span>
          </div>
          <div class="card-footer bg-light p-2">
            <% work_order.services.each do |service| %>
              <%= badgeify(service) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-12 p-1 border">
    <div class="workflow-section-header text-white mb-1 bg-dark p-2 pl-3">
      Ready For Invoice
      <span class="badge badge-pill badge-light float-right">
        <%= @work_orders.ready_for_invoice.uniq.count %>
      </span>
    </div>
    <div class="workflow-section-col">
      <% @work_orders.ready_for_invoice.uniq.each do |work_order| %>
        <div class="card border-dark mb-1">
          <div class="card-header p-1 pl-2 pr-2">
            <span class="work-order-customer-name"><%= work_order.customer.try :name %></span>
            <span class="work-order-id float-right">
              <%= link_to "##{work_order.id}", work_order %>
            </span>
          </div>
          <div class="card-body p-2">

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
