!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
  %body{:onload => "number_pages"}
    #header{:style => "text-align:center;"}
      = wicked_pdf_image_tag 'cpc_logo.png', width: '35%', style: "margin: auto;"
    #content
      %h2
        Work Order ##{@work_order.id}
      %p
        %strong Date:
        = Date.today.strftime("%B %d, %Y")
        %br/
        %strong Job Name:
        = @work_order.name
        %br/
        %strong Due Date:
        = @work_order.date_due.strftime("%A, %b %d") if @work_order.date_due
      %h3{:style => "margin-bottom:0;"}= @work_order.customer.name
      %p{:style => "margin-top:0;"}
        = "#{@work_order.customer.address1} <br>".html_safe if @work_order.customer.address1.present?
        = "#{@work_order.customer.address2} <br>".html_safe if @work_order.customer.address2.present?
        = "#{@work_order.customer.city}, #{@work_order.customer.state} #{@work_order.customer.zip_code} <br>".html_safe if @work_order.customer
        %strong Phone:
        = @work_order.customer.phone
      %hr/
      %h3 Parts List
      %table{:style => "border: solid 1px black;", :width => "100%"}
        %thead
          %tr{:style => "text-align:left;border-bottom: solid 1px black"}
            %th Part
            %th Quantity
            %th Powder
            %th Description
        %tbody
          - @work_order.line_items.each do |line_item|
            %tr
              %td= line_item.description
              %td= line_item.quantity
              %td= line_item.powder ? line_item.powder.list_select_name : 'No powder selected'
              %td= line_item.notes
      %table{:width => "100%"}
        %tr
          %th{:width => "30%"}
            %h3 Services
          %th{:width => "70%"}
            - if @work_order.estimated_price
              %h3
                Estimate: $#{@work_order.estimated_price}
        %tr
          %td{:width => "30%"}
            %ul{:style => "margin-top:0;"}
              - @work_order.services.each do |service|
                %li
                  = service.name
          %td{:width => "70%"}
            - if @work_order.estimated_price
              %em
                This quote is for estimation purposes and is not a guarantee of cost for services. Quote is based on current information from client about the project requirements. Actual cost may change once project elements are finalized or negotiated. Client will be notified of any changes in cost prior to them being incurred.
      %hr{:style => "margin-top:1em;"}/
      %p{:style => "margin-top:40px;"}
        CPC Rep sign:   __________________________________ Date: _____________
      %p{:style => "margin-top:40px;"}
        Customer sign:  __________________________________ Date: _____________
      %p{:style => "margin-top:40px;"}
        Customer print: __________________________________
    %div
      %p{:style => "text-align:right;margin-top:2rem;"}
        %em
          *Invoice payable upon receipt.
          Payment due on scheduled due date.
        - if @work_order.customer.company?
          %em
            Invoices not paid within 30 days will begin accruing interest at a rate of 1.5% per month of the total invoice.
        - else
          %em
            Your invoice will begin accruing interest at a rate of 1.5% per month of the total invoice if the items are not picked up with two weeks of the due date. Items left more then 90 days after the due date will be considered abandoned and forfeited.
