<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'work_order_information' %>
    </div>
    <div class="col-md-6">
      <% unless @work_order.complete? %>
        <%= simple_form_for @work_order, url: work_order_path(@work_order), method: :put do |f| %>
          <div class="row">
            <div class="col">
              <%= f.input :status, collection: WorkOrder.statuses.reject { |status| status == 'complete' },
                                   label: false %>
            </div>
            <div class="col">
              <%= f.submit 'Update Status', data: { confirm: 'Are you sure you want to update this status?' },
                                            class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>

        <%= render 'mark_work_order_complete_form' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4 mb-4">Services</h2>
      <% @work_order.services.each do |service| %>
        <span class="mr-2"><i class="icon icon-check text-success"></i> <%= service.name %> </span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4 mb-4">Parts</h2>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @work_order.line_items.each_with_index do |line_item, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= line_item.description %></td>
            <td><%= line_item.quantity %></td>
            <td><%= line_item.notes %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <%= link_to 'Edit', edit_work_order_path(@work_order) %> |
        <%= link_to 'Back', work_orders_path %>
      </p>
    </div>
  </div>
</div>
