<div class="row mb-3">
  <div class="col">
    <div class="activity-feed pl-2 pr-2">
      <% if @work_order.activities %>
        <%= render_activities(@work_order.activities.order(created_at: :desc)) %>
      <% else %>
        No activity on this Work Order.
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col">
          <%= render 'work_order_information' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= render 'parts', work_order: @work_order if @work_order.line_items.any? %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <%= link_to 'Edit', edit_work_order_path(@work_order) %> |
            <%= link_to 'Back', work_orders_path %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col">
          <%= link_to 'View PDF', work_order_path(format: :pdf),
                                  target: '_blank',
                                  class: 'btn btn-block btn-primary pull-right mb-3' %>
          <%= render 'quality_assurance_approval_modal' if current_user.can_approve_work_orders? && !@work_order.quality_assurance_approval? %>
        </div>
      </div>
      <% unless @work_order.complete? %>
        <div class="row">
          <div class="col">
            <%= render 'status_form' %>
            <%= render 'production_stage_form' if @work_order.in_progress? %>
            <%= render 'mark_completed_form' if @work_order.quality_assurance_approval? %>
          </div>
        </div>
      <% end %>
      <div class="row notes-section">
        <div class="col">
          <div class="row">
            <div class="notes-form col">
              <%= render partial: 'notes/notable_form', locals: { resource: @work_order, note: @note } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="card w-100">
              <div class="card-body pt-2 pb-2 p-1">
                <div class="notes-index col">
                  <%= render partial: 'notes/index_snippet', locals: { notes: @notes, page: params[:page] } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col p-0">
          <div class="card w-100">
            <div class="card-header">
              <h2 class="mb-0">Attachments</h2>
            </div>
            <div class="card-body mb-0">
              <% if @work_order.attachments.present? %>
                <ol class="pl-4">
                  <% @work_order.attachments.each do |attachment| %>
                    <li><%= link_to attachment.file.try(:filename), attachment.url %></li>
                  <% end %>
                </ol>
              <% else %>
                <p class="text-danger mb-0">No Attachments</p>
              <% end %>
            </div>
            <div class="card-body">
              <%= simple_form_for @work_order, url: work_order_attachments_path(@work_order), method: :post do |f| %>
                <%= f.input :attachments, as: :file, label: 'Add Attachments', input_html: { multiple: true } %>
                <%= f.submit 'Add Attachments', class: 'btn btn-success' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
