.row.mb-3
  .col
    .activity-feed.pl-2.pr-2
      - if @work_order.activities
        = render_activities(@work_order.activities.order(created_at: :desc))
      - else
        No activity on this Work Order.
.container
  .row
    .col-lg-9
      .row
        .col
          = render 'work_order_information'
      .row
        .col
          = render 'parts', work_order: @work_order if @work_order.line_items.any?
      .row
        .col
          %p
            = link_to 'Edit', edit_work_order_path(@work_order)
            |
            \#{link_to 'Back', work_orders_path}
    .col-lg-3
      .row
        .col.p-0
          = link_to 'View PDF', work_order_path(format: :pdf), 
            target: '_blank',                                  
            class: 'btn btn-block btn-primary mb-3'            
          = render 'work_order_schedule_buttons'
          = render 'quality_assurance_approval_modal' if current_user.can_approve_work_orders? && !@work_order.quality_assurance_approval?
      - unless @work_order.complete?
        .row
          .col.p-0
            = render 'status_form'
            = render 'production_stage_form' if @work_order.in_progress?
            = render 'mark_completed_form' if @work_order.quality_assurance_approval?
      .row.notes-section
        .col
          .row
            .notes-form.col.p-0
              = render partial: 'notes/notable_form', locals: { resource: @work_order, note: @note }
          .row.mt-3
            .card.w-100
              .card-body.pt-2.pb-2.p-1
                .notes-index.col
                  = render partial: 'notes/index_snippet', locals: { notes: @notes, page: params[:page] }
      .row.mt-4
        .col.p-0
          .card.w-100
            .card-header
              %h2.mb-0 Attachments
            .card-body.mb-0
              - if @work_order.attachments.present?
                %ol.pl-4
                  - @work_order.attachments.each do |attachment|
                    %li= link_to attachment.file.try(:filename), attachment.url
              - else
                %p.text-danger.mb-0 No Attachments
            .card-footer
              = simple_form_for @work_order, url: work_order_attachments_path(@work_order), method: :post do |f|
                = f.input :attachments, as: :file, label: 'Add Attachments', input_html: { multiple: true }
                = f.submit 'Add Attachments', class: 'btn btn-success'
