<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%= render 'work_order_information' %>
    </div>
    <div class="col-lg-4">
      <% unless @work_order.complete? %>
        <div class="row">
          <div class="col">
            <%= render 'status_form' %>

            <%= render 'mark_completed_form' %>
          </div>
        </div>
      <% end %>
      <div class="row notes-section">
        <div class="col">
          <div class="row">
            <div class="notes-form col">
              <%= render partial: 'notes/notable_form', locals: { resource: @work_order, note: @note } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="notes-index col">
              <%= render 'notes/index_snippet', resource: @work_order %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @work_order.services.any? %>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="mt-4 mb-4">Services</h2>
        <% @work_order.services.each do |service| %>
          <span class="mr-2"><i class="icon icon-check text-success"></i> <%= service.name %> </span>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4 mb-4">Parts</h2>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @work_order.line_items.each_with_index do |line_item, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= line_item.description %></td>
            <td><%= line_item.quantity %></td>
            <td><%= line_item.notes %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <%= link_to 'Edit', edit_work_order_path(@work_order) %> |
        <%= link_to 'Back', work_orders_path %>
      </p>
    </div>
  </div>
</div>
