<h2><p class = "text" style = "color:white;">Contact Us</p></h2>
<%= simple_form_for @message, :url => contact_path do |f| %>

 <%= f.input :name, label: false, placeholder: "Your Name" %>
 <%= f.input :email, label: false, placeholder: "Your Email" %>
 <%= f.input :phone, label: false, placeholder: "Your Phone" %>
 <%= f.input :subject, label: false, placeholder: "Subject" %>
 <%= f.input :body, as: :text, label: false, placeholder: "How can we help you?", :input_html => { :rows => 10 } %>
 <%= f.submit 'Send', class: "button" %>

<% end %>
<div class="push-8" style="color:white;"><p>Or feel free to call Paul at (614) 353-0302</p></div>