<div class="container contact">
  <h2 style="font-weight:200;">Contact Us</h2>
    <%= simple_form_for @message, :url => contact_path do |f| %>

     <%= f.input :name, placeholder: "Your Name" %>
     <%= f.input :email, placeholder: "Your Email" %>
     <%= f.input :phone, placeholder: "Your Phone" %>
     <%= f.input :subject, placeholder: "Subject" %>
     <%= f.input :body, as: :text, placeholder: "How can we help you?", :input_html => { :rows => 5 } %>
     <%= f.submit "Send", class: "btn btn-special btn-color" %>

    <% end %>
    <p style="text-align:right">
      <a href="tel:+16143530302"><i class="icon-phone"></i> (614) 353-0302 </a>
    </p>
</div>