<div class="home">
	<div class="container">
	  <h2><p class = "text" style = "color:#FFFFFF;">Contact Us</p></h2>
	  <%= simple_form_for @message, :url => contact_path do |form| %>

	      <%= form.input :name %>
	      <%= form.input :email %>
	      <%= form.input :subject %>
	      <%= form.input :body, as: :text, :input_html => { :rows => 10 } %>
	      <%= form.submit 'Send', class: "btn btn-success" %>

	  <% end %>
	  <p>Feel free to call Paul at (614) 353-0302</p>
	</div>
</div>