<p id="notice"><%= notice %></p>

<h1>Service Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Work order schedule</th>
      <th>Service</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_schedules.each do |service_schedule| %>
      <tr>
        <td><%= service_schedule.work_order_schedule %></td>
        <td><%= service_schedule.service %></td>
        <td><%= service_schedule.start_date %></td>
        <td><%= service_schedule.end_date %></td>
        <td><%= link_to 'Show', service_schedule %></td>
        <td><%= link_to 'Edit', edit_service_schedule_path(service_schedule) %></td>
        <td><%= link_to 'Destroy', service_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Schedule', new_service_schedule_path %>
