<p id="notice"><%= notice %></p>

<p>
  <strong>Work order schedule:</strong>
  <%= @service_schedule.work_order_schedule %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_schedule.service %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @service_schedule.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @service_schedule.end_date %>
</p>

<%= link_to 'Edit', edit_service_schedule_path(@service_schedule) %> |
<%= link_to 'Back', service_schedules_path %>
