<!--  <# if activity.key == "quote_request.update" %>
  <%# link_to quote_request_path(activity.trackable_id), class: "list-group-item" do %>
    <span class="badge"><%# time_ago_in_words(activity.created_at) %> ago</span>
    <%# activity.owner_id ? User.find(activity.owner_id).first_name : "User" %> updated quote #<%# activity.trackable_id %>.
  <%# end %> -->
<% if activity.key == "quote_request.create" %>
  <%= link_to quote_request_path(activity.trackable_id), class: "list-group-item" do %>
    <span class="badge"><%= time_ago_in_words(activity.created_at) %> ago</span>
    <% if activity.owner_id %>
      <%= activity.owner_id ? User.find(activity.owner_id).first_name : "User" %> created RFQ #<%= activity.trackable_id %>
    <% else %>
      Quote Request #<%= activity.trackable_id %> was created on the web!
    <% end %>
  <% end %>
<% elsif activity.key == "quote_request.update" %>
  <%= link_to quote_request_path(activity.trackable_id), class: "list-group-item" do %>
    <span class="badge"><%= time_ago_in_words(activity.created_at) %> ago</span>
    <% if activity.owner_id %>
      <%= activity.owner_id ? User.find(activity.owner_id).first_name : "User" %> created RFQ #<%= activity.trackable_id %>
    <% else %>
      Quote #<%= activity.trackable_id %> was created on the web!
    <% end %>
  <% end %>
<% end %>
