%nav.navbar.navbar-expand-lg.navbar-light.bg-dark.admin-section-navbar
  %button.navbar-toggler.bg-white{"aria-controls" => "userDashNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#userDashNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #userDashNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.mr-lg-2.mb-2.mt-2.mb-lg-0.mt-lg-0
        = link_to "Manage Customers", customers_path, class: "nav-link btn btn-primary text-white"
      %li.nav-item.mr-lg-2.mb-2.mb-lg-0
        %a.dropdown-toggle.btn.btn-warning.nav-link{"data-toggle" => "dropdown", :href => "#"}
          Quote Calculators
        .dropdown-menu
          = link_to "General Quote", calculator_quote_requests_path, class: "dropdown-item"
          = link_to "Sand Blasting Quote", sand_blasting_quote_calculator_quote_requests_path, class: "dropdown-item"
      %li.nav-item.mr-lg-2.mb-2.mb-lg-0
        = link_to "Powder Management", powders_path, class: "nav-link btn btn-light"
      %li.nav-item.mr-lg-2.mb-2.mb-lg-0
        = link_to "Purchasing Request Form", "https://docs.google.com/spreadsheets/d/1UqQ8vQoJ8xMFa9fx4OHiDVSLvOsfmMw5yWWXu1gxNpc", class: "btn btn-secondary text-white nav-link", target: "_blank"
      %li.nav-item.mr-lg-2.mb-2.mb-lg-0
        = link_to "Operations Manual", "https://drive.google.com/drive/folders/1kqHniCyomG9QI8JEo1eJlrbObV1siIar?usp=sharing", class: "btn btn-secondary text-white nav-link", target: "_blank"
      - if @new_quote_requests
        %li.nav-item
          = link_to "<span class='badge badge-pill badge-danger'>#{@new_quote_requests.count ? @new_quote_requests.count : 0}</span> New Quote #{pluralize_without_count(@new_quote_requests.count, 'Request')}#{@new_quote_requests.count == 0 ? "" : "!"}".html_safe, quote_requests_path, class: "btn btn-success nav-link"
