<header id="header">
  <!-- Pre Nav Start -->
  <div class="pre-nav">
    <div class="row">
      <div class="col-md-4">
        <div>
          <li style="list-style-type:none;">
            <span class="location">
              <i class="fas fa-map-marker-alt" style="color:rgb(184, 55, 55);"></i>
              <a style="color:white;" href="https://goo.gl/maps/YpZ7MrXR5CM2"> Columbus, OH</a>
            </span>
            <span class="social-media-icons float-md-none float-right">
              <a href="https://www.facebook.com/columbuspowdercoat" target="_blank">
                <i class="fab fa-lg fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/columbuspowdercoat/" target="_blank">
                <i class="fab fa-lg fa-instagram"></i>
              </a>
            </span>
          </li>
          <li class="d-md-none d-lg-none phone-email">
            <i class="fas fa-phone"></i> <span class="d-none d-md-inline">Call Us: </span><a href="tel:+16143005025">(614) 300-5025 </a>
          </li>
          <li class="d-md-none d-lg-none phone-email">
            <i class="far fa-envelope"></i>
            <span class="d-none">Email:</span> <a href="mailto:contact@columbuspowdercoat.com"> contact@ColumbusPowderCoat.com</a>
          </li>
        </div>
      </div>
      <div class="col-md-8">
        <div class="phone-email float-right d-none d-md-block">
          <ul style="list-type-style:none;" class="list-inline pull-left">
            <li class="list-inline-item"><i class="fas fa-phone"></i> <span>Call Us: </span><a href="tel:+16143005025">(614) 300-5025 </a></li>
            <li class="list-inline-item"><i class="fas fa-envelope"></i> <span>Email:</span> <a href="mailto:contact@columbuspowdercoat.com"> contact@ColumbusPowderCoat.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre Nav End -->
  <!-- Main Nav Start -->
  <nav class="navbar navbar-expand-md navbar-light justify-content-end cpc-nav">
    <a href="/" class="navbar-brand mr-auto">
      <%= image_tag 'cpc_logo.png', alt: 'logo' %>
    </a>
    <ul class="navbar-nav d-md-none">
      <li class="nav-item">
        <%= link_to "Request A Quote", new_quote_request_path, style: 'font-size:10px;', class: 'btn btn-sm btn-danger mr-3' %>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarToggler">
      <ul class="navbar-nav justify-content-end">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fas fa-user"></i>
              <%= current_user.first_name %> <%= current_user.last_name[0,1] %>. <%= current_user.suffix if current_user.suffix %>
              <b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                <i class="icon-gears"></i> Settings
              <% end %>
              <div class="dropdown-divider"></div>
              <a href="<%= destroy_user_session_path %>" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </div>
          </li>
        <% else %>
          <li class='nav-item nav-quote-req d-none d-md-inline'>
            <%= link_to "Request A Quote", new_quote_request_path, class: 'btn btn-danger mr-2' %>
           </li>
          <li class='nav-item nav-quote-req'>
            <%= link_to "Services", '/services', class: 'nav-link' %>
          </li>
          <li class='nav-item nav-quote-req'>
            <%= link_to "About Us", '/about', class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <!-- Main Header End -->
</header>
