<header id="header">
  <!-- Pre Nav Start -->
  <div class="pre-nav">
    <div class="row">
      <div class="col-md-4">
        <div class="pull-left">
          <li style="list-style-type:none;">
            <i class="icon-map-marker" style="color:rgb(184, 55, 55);"></i><a style="color:white;" href="https://goo.gl/maps/YpZ7MrXR5CM2"> Columbus, OH</a>
          </li>
          <li class="hidden-md-up phone-email">
            <i class="icon-phone"></i> <span class="hidden-sm hidden-xs">Call Us: </span><a href="tel:+16143005025">(614) 300-5025 </a>
          </li>
          <li class="hidden-md-up phone-email">
            <i class="icon-envelope-alt"></i>
            <span class="hidden-sm hidden-xs">Email:</span> <a href="mailto:contact@columbuspowdercoat.com"> contact@ColumbusPowderCoat.com</a>
          </li>
        </div>
      </div>
      <div class="col-md-8">
        <div class="phone-email pull-right hidden-sm-down">
          <ul style="list-type-style:none;" class="list-inline pull-left">
            <li class="list-inline-item"><i class="icon-phone"></i> <span>Call Us: </span><a href="tel:+16143005025">(614) 300-5025 </a></li>
            <li class="list-inline-item"><i class="icon-envelope-alt"></i> <span>Email:</span> <a href="mailto:contact@columbuspowdercoat.com"> contact@ColumbusPowderCoat.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre Nav End -->
  <!-- Main Nav Start -->
  <div class="nav">
    <a href="/">
      <%= image_tag 'cpc_logo.png', height: '42px', alt: 'logo' %>
    </a>
    <% if current_user %>
      <li class="dropdown user-dropdown ml-auto mr-5">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i>
          <%= current_user.first_name %> <%= current_user.last_name[0,1] %>. <%= current_user.suffix if current_user.suffix %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="icon-gears"></i> Settings
            <% end %>
          </li>
          <li class="divider"></li>
          <li><a href="<%= destroy_user_session_path %>"><i class="icon-power-off"></i> Log Out</a></li>
        </ul>
      </li>
    <% else %>
      <li class='nav-quote-req hidden-sm-down ml-auto'>
        <%= link_to "Request A Quote", new_quote_request_path, style: 'font-size:20px;' %>
      </li>
      <li class='nav-quote-req hidden-md-up ml-auto'>
        <%= link_to "Request A Quote", new_quote_request_path, style: 'font-size:14px;' %>
      </li>
    <% end %>
  </div>
  <!-- Main Header End -->
</header>
