<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!-- <html class="ie6" lang="en">
<html class="ie7" lang="en">
<html class="ie8" lang="en"> -->
  <html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= render 'layouts/meta_tag_keyword' %>

    <meta name="description" content="At Columbus Powder Coat we pride ourselves on high quality finishes, fast turnarounds, and great prices.">

    <title><%= content_for?(:title) ? yield(:title) : "CPC : Columbus Powder Coat | Columbus, Ohio" %></title>
    <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/font-awesome-ie7.min.css">
    <![endif]-->
    <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext" %>
    <%= javascript_include_tag "modernizr" %>
    <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/google_tag_manager_head' if Rails.end.production? %>
    <%= render 'layouts/zopim' %>
  </head>

  <body class="home">
    <%= render 'layouts/google_tag_manager_body' if Rails.env.production? %>
    <!-- .wrap -->
    <div class="wrap">
     <%= render 'layouts/header' %>
     <div class="row">
        <%= flash_messages %>

        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <!-- /.wrap End -->

    <%= javascript_include_tag "application" %>
  </body>
</html>
