<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!-- <html class="ie6" lang="en">
<html class="ie7" lang="en">
<html class="ie8" lang="en"> -->
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Uncomment to make IE8 render like IE7 -->
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= render 'layouts/meta_tag_keyword' %>

    <meta name="description" content="At Columbus Powder Coat we pride ourselves on high quality finishes, fast turnarounds, and great prices.">

    <title>
      <%= content_for?(:title) ? "Columbus Powder Coat | #{ yield(:tile) }" : "Columbus Powder Coat | Columbus, Ohio" %>
    </title>
    <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/font-awesome-ie7.min.css">
    <![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/zopim' if Rails.env.production? %>
    <%= render 'layouts/google_tag_manager_head' if Rails.env.production? %>
  </head>

  <body class="home <%= 'bg-light' if  current_user %>">
    <%= render 'layouts/google_tag_manager_body' if Rails.env.production? %>

    <%= render 'layouts/header' %>

    <div class="alert alert-success banner-message mb-0">
      Columbus Powder Coat is currently looking for new hires at multiple positions! Shop hands, coating applicators, and office support! <strong>Interested? <a href="mailto:contact@columbuspowdercoat.com">Contact us!</a></strong>
    </div>

    <!-- .wrap -->
    <div class="wrap">
      <%= flash_messages %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <!-- /.wrap End -->

    <%= javascript_include_tag "application" %>
  </body>
</html>
